body{

    padding: 10px;
}

article p:first-of-type{
    font-size: 140%;
    font-style: italic;
}

article p:last-of-type{
    font-weight: bold;
}

ul li:nth-child(3n){
    color:deeppink;
}

a:visited, a:link{
    color: dodgerblue
}

a:hover, a:focus{
    color:deeppink;
}

p::first-line{
    font-size: 140%;
    font-weight: bold;
}

p::selection{
    background-color: pink;
}

p::after {
    content: '...';
    display: block;
}