.container {
    display: grid;
    /* grid-template-rows: repeat(3,100px);
    grid-template-columns: repeat(2,100px); */
    grid-template: 100px auto 100px / 30fr 70fr;
    /* row-gap: 10px;
    column-gap: 10px; */
    grid-template-areas: 
            "header header" 
            "sidebar main" 
            "footer footer";   
    gap: 10px;
    border: 3px solid lightgray;
    justify-items: stretch;
    align-items: stretch;
    /* justify-content: center;
    align-content: center; */
    height: 100vh;
}

.box{
    /* width: 5rem; */
    /* height: 5rem; */
    background: gold;
}

.box-one{

    grid-area: header;
}

.box-four{
    grid-area:footer;
}